@charset "UTF-8";
:root {
  --main-textcolor: #4d4d52;
  --main-underlinecolor: #414141;
  --main-backgroudcolor:#f4f5f7;
}

body {
  -webkit-text-size-adjust: 100%;
  color: var(--main-textcolor);
  background-color: var(--main-backgroudcolor);
  margin: auto;
  font-family: sans-serif;
  max-width: 50rem;  
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

body a {
  color: #a06500;
  text-decoration: none;
}
body a:hover:not(.active) {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

h1 {
  font-size: 1.6rem;
  counter-reset: section 0;
}

h2 {
  font-size:1.3rem;
  border-bottom: 0.1rem solid var(--main-underlinecolor);
  counter-reset: subsection;
  /* counter-increment: section; */
}
h2::before {
  counter-increment: section;
  content: counter(section) ". ";
  font-weight: bold;
}

h3 {
  border-bottom: 1px solid var(--main-underlinecolor);
  counter-reset: theorem-num;
}
h3::before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
}


#todayThmBox {
  border: 0.1rem solid var(--main-textcolor);
  margin-top: 1rem;
}
#todayThmBox #todayThm {
  font-family: sans-serif;
  font-weight: bolder;
  margin: 0;
  font-size: 1rem;
  display: inline-block;
}

.theorem-num {
  counter-reset: number 0;
  counter-increment: theorem-num def-num;
}
.theorem-num::before {
  font-family: sans-serif;
  content: "定理 " counter(section) "." counter(subsection) "." counter(theorem-num) ". ";
  font-weight: bold;
}
.theorem-num > *:first-child {
  display: inline;
}
.theorem-num > .title {
  font-family: sans-serif;
  font-weight: bold;
}
.theorem-num > .title::before {
  font-family: sans-serif;
  font-weight: normal;
  content: "（";
}
.theorem-num > .title::after {
  font-family: sans-serif;
  font-weight: normal;
  content: "）―";
}
.theorem-num > .title + * {
  display: inline;
}

.thm-num {
  counter-reset: number 0;
  counter-increment: theorem-num def-num;
}
.thm-num::before {
  font-family: sans-serif;
  content: "定理 " counter(theorem-num) ". ";
  font-weight: bold;
}
.thm-num > *:first-child {
  display: inline;
}
.thm-num > .title {
  font-family: sans-serif;
  font-weight: bold;
}
.thm-num > .title::before {
  font-family: sans-serif;
  font-weight: normal;
  content: "（";
}
.thm-num > .title::after {
  font-family: sans-serif;
  font-weight: normal;
  content: "）―";
}
.thm-num > .title + * {
  display: inline;
}

.def-num {
  counter-reset: number 0;
  counter-increment: theorem-num def-num;
}
.def-num::before {
  font-family: sans-serif;
  content: "定義 " counter(def-num) ". ";
  font-weight: bold;
}
.def-num > *:first-child {
  display: inline;
}
.def-num > .title {
  font-family: sans-serif;
  font-weight: bold;
}
.def-num > .title::before {
  font-family: sans-serif;
  font-weight: normal;
  content: "（";
}
.def-num > .title::after {
  font-family: sans-serif;
  font-weight: normal;
  content: "）―";
}
.def-num > .title + * {
  display: inline;
}

.definition-num {
  counter-reset: number 0;
  counter-increment: theorem-num def-num;
}
.definition-num::before {
  font-family: sans-serif;
  content: "定義 " counter(section) "." counter(subsection) "." counter(def-num) ". ";
  font-weight: bold;
}
.definition-num > *:first-child {
  display: inline;
}
.definition-num > .title {
  font-family: sans-serif;
  font-weight: bold;
}
.definition-num > .title::before {
  font-family: sans-serif;
  font-weight: normal;
  content: "（";
}
.definition-num > .title::after {
  font-family: sans-serif;
  font-weight: normal;
  content: "）―";
}
.definition-num > .title + * {
  display: inline;
}

.theorem > *:first-child {
  display: inline;
}
.theorem::before {
  font-family: sans-serif;
  content: "定理";
  font-weight: bold;
}
.theorem > .title {
  font-family: sans-serif;
  font-weight: bold;
}
.theorem > .title::before {
  font-family: sans-serif;
  font-weight: normal;
  content: "（";
}
.theorem > .title::after {
  font-family: sans-serif;
  font-weight: normal;
  content: "）―";
}
.theorem > .title + * {
  display: inline;
}

.proof::before {
  font-family: sans-serif;
  content: "証明. ";
  font-weight: bold;
}
.proof > *:first-child {
  display: inline;
}

/*# sourceMappingURL=style.css.map */
