<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous"> 
    <title>blog.kitagy.net</title>
  </head>
  <body>
    <h1>blog.kitagy.net</h1>
    <p>工事中です．</p>
    <h2>Posts</h2>
    <!-- {% include post list %} -->
    <h2>Links</h2>
    <ul>
      <li><a href="https://www.kitagy.net/">www</a></li>
    </ul>
  </body>
</html>
