<h1>不等式寄せ集め</h1>
<p>日時：<time>dd</time></p>
<div id="summary">不等式寄せ集め</div>

<h2>基本的な不等式</h2>

<h2>参考文献</h2>

<ol>
  <li>Mockapetris, P., &quot;Domain names - concepts and facilities&quot;, RFC 1034, 1987, <a href="https://www.rfc-editor.org/info/rfc1034">https://www.rfc-editor.org/info/rfc1034</a></li>
  <li>Mockapetris, P., &quot;Domain names - implementation and specification&quot;, RFC 1035, 1987, <a href="https://www.rfc-editor.org/info/rfc1035">https://www.rfc-editor.org/info/rfc1035</a></li>
  <li>Hoffman, P., Sullivan, A., and K. Fujiwara, &quot;DNS Terminology&quot;, RFC 8499, 2019, <a href="https://www.rfc-editor.org/info/rfc8499">https://www.rfc-editor.org/info/rfc8499</a></li>
  <li>株式会社日本レジストリサービス（JPRS）渡邉結衣・佐藤新太・藤原和典, 『DNSがよくわかる教科書』, SBクリエイティブ, 2018</li>
  <li>mochikoAsTech, 『DNSをはじめよう ～基礎からトラブルシューティングまで～ 改訂第2版』, 2019</li>
  <li>JPRS用語辞典, <a href="https://jprs.jp/glossary/">https://jprs.jp/glossary/</a></li>
  </ol>  
</ol>
