<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous"> 
    <title>blog.kitagy.net</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <!-- <div class="topbar">
          <div id ="top-header">
            <a href="../../../../">blog.kitagy.net</a>
          </div>
        </div> -->
        <nav id ="top-links">
            <p><a href="../../../../">Home</a></p>
        </nav>
      </header>
      <div class="content">
        <!-- {% include html files %} -->
      </div>
      <footer>
      </footer>
    </div>
  </body>
</html>
