<h1>DNSについて</h1>
<p>日時：<time>dd</time></p>
<div id="summary">昔DNSについて調べたときにまとめたもの．</div>

<h2>ドメインとドメイン名とその構造</h2>

<p>example.comやwww.example.co.jpのような文字列はドメイン名と呼ばれる．人間にとって比較的分かりやすいドメイン名にIPアドレスを紐づけることで，そのサーバをドメイン名で見つけられる．</p>

<ul>
  <li>ドメイン名はURLやメールアドレスの中に見ることができる．
    <ul>
      <li>https://example.com や info@example.comなど</li>
    </ul>
  </li>
  <li>.（ドット）で区切られたjp，co，exampleというそれぞれの文字列をラベルといい，それらが指し示す領域（名前空間）のことをドメインという．</li>
  <li>ドメイン名の最後にもルートドメイン（後述）を表す.が存在するが，しばしば省略する．「www.example.co.jp.」というのが省略しない形．ルートドメインのラベルは長さ0の文字列．</li>
  <li>ドメインはルートドメインを頂点とする木構造を作る．ドメイン名は各ドメインを識別するための文字列になっている．ドットの左のラベルが指すドメインがそのドットの右のラベルが指すドメインの子になっている．</li>
  <li>あるドメインに対してその子孫のドメインのことをそのサブドメインという．
    <ul>
      <li>例：www.example.co.jpではexampleが示すドメインはjpのサブドメイン．jpが示すドメインはルートドメインのサブドメイン．</li>
    </ul>
  </li>
  <li>ドメイン名は大文字小文字を区別しない．example.comもExAMplE.CoMも同じ．</li>
</ul>

<p>TLD（Top Level Domain）とはドメイン名の一番最後につくcomとかnetなどで表される（ルードドメインのちょうど一つ下の）ドメインのこと．</p>

<ul>
  <li>gTLD (Generic top-level domains) は一般的な？TLD（例：com，net，org，info）のこと．誰でも取れるものが結構ある．業種制限などで取れないものもある．</li>
  <li>ccTLD (Country code top-level domain) は国を表しているTLD（例：jp，uk，de）のこと．その国の居住実態が必要なものも多いが，その中の一部（meなど）はその国に住んでなくても取れるようになってる．</li>
</ul>

<p>TLDの子のドメイン（*.example.comだったらexampleのドメイン）は2LD(セカンドレベルドメイン)と呼ばれる．</p>

<ul>
  <li>ここに属性を意味する文字列を付けているもの（jpドメインなら*.ac.jp，*.co.jp，*.lg.jpなど）もある．これらはそれ相応の組織じゃないと登録できない．</li>
  <li>同様にexample.co.jpのexampleは3LD（サードレベルドメイン）と呼ばれる．</li>
</ul>

<h2>ゾーンについて</h2>

<p>そのドメイン名をネットワークで使えるようにするための仕組みとして，DNSがある．</p>

<p>DNSではドメインの木構造に合わせた管理・委任の仕組みを備えている．全てのドメインの情報を一元的に一か所で管理するわけではなく，各ドメインに対応させて情報を分散管理させる仕組みになっている．</p>

<ul>
  <li>abc.example.comを例にとる．ルートドメインの管理者が全てのドメインとIPアドレスの対応の情報を持っているわけではない．example.comのようなcomドメイン以下の情報はすべてcomドメインの管理者に委任している．「com以下のドメインの情報はcomドメインの管理者に任せている」という情報はルートドメインの管理者が保持する．</li>
  <li>一方で，comドメインの管理者もすべてのcomドメインのサブドメインの情報を管理しているわけではなく，同様にexample.com以下のドメインに関してはexample.comの管理者に管理を委任している．「example.com以下のドメインの情報はexample.comドメインの管理者に任せている」という情報はcomドメインの管理者が保持する．</li>
  <li>example.comのドメインの管理者はabc.example.com以下のドメインを別の管理者に委任しているかもしれないし，そうでないかもしれない（設定による）．いずれにせよ，このように情報の管理は階層化されている．</li>
  <li>このように，DNSの委任によって区切られた管理の単位をゾーンという．</li>
  <li>ごちゃごちゃ書いたが，ゾーン，ドメイン，ドメイン名についての説明はJPRS用語辞典（<a href="https://jprs.jp/glossary/">https://jprs.jp/glossary/</a>）の図がわかりやすい．
    <ul>
      <li>ドメイン名：<a href="https://jprs.jp/glossary/index.php?ID=0083">https://jprs.jp/glossary/index.php?ID=0083</a></li>
      <li>ドメイン：<a href="https://jprs.jp/glossary/index.php?ID=0160">https://jprs.jp/glossary/index.php?ID=0160</a></li>
      <li>ゾーン：<a href="https://jprs.jp/glossary/index.php?ID=0142">https://jprs.jp/glossary/index.php?ID=0142</a></li>
    </ul>
  </li>
  <li>この委任によって生まれたゾーンも木構造を作る．</li>
  <li>各ゾーンに対し，そのゾーンの情報と委任したゾーンの委任情報はそのゾーンの権威サーバによって保持される．</li>
</ul>

<p>権威サーバはそのゾーンの情報と委任したゾーンの委任情報をリソースレコード（各ドメインに関連付けられた情報）として保持する．</p>

<h2>リソースレコードの概要</h2>

<p>例えばcomドメインを含むゾーンの権威サーバでの</p>

<ul>
  <li>example.comに関する情報は委任しており，委任先の権威サーバはns1.example.comとns2.example.comである（注：普通は複数ある）．</li>
  <li>ns1.example.comのIPv4アドレスは192.0.2.59でIPv6アドレスは2001:db8:94d2::d12:2023</li>
  <li>ns2.example.comのIPv4アドレスは192.0.2.60でIPv6アドレスは2001:db8:94d2::d12:2024</li>
</ul>

<p>といった内容を含んだリソースレコードをテキスト形式で表すと以下のようになる．</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>example.com.     86400 IN NS   ns1.example.com.
example.com.     86400 IN NS   ns2.example.com.

ns1.example.com. 86400 IN A    192.0.2.59
ns2.example.com. 86400 IN A    192.0.2.60
ns1.example.com. 86400 IN AAAA 2001:db8:94d2::d12:2023
ns2.example.com. 86400 IN AAAA 2001:db8:94d2::d12:2024
</code></pre></div></div>

<p>一般に，リソースレコードをテキスト形式で表すと以下のようになる．</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>NAME TTL CLASS TYPE RDATA
</code></pre></div></div>

<ul>
  <li>NAME：このリソースレコードに関係するノードの名前．多くはドメイン名が入る．</li>
  <li>TTL：このリソースレコードをキャッシュして良い時間．秒単位．</li>
  <li>CLASS：プロトコル群を指定する．基本IN．</li>
  <li>TYPE：リソースレコードの種類．いっぱいある．例を挙げる．
    <ul>
      <li>A：NAMEのIPv4アドレスを指定．</li>
      <li>AAAA：NAMEのIPv6アドレスを指定．</li>
      <li>NS：NAMEのゾーンの権威サーバを指定．</li>
    </ul>
  </li>
  <li>RDATA：TYPEやCLASSに応じたそのデータ．</li>
</ul>

<h2>名前解決</h2>

<p>DNSの重要な役割の一つにドメイン名から対応するIPアドレスを見つけ出す名前解決がある．名前解決の流れは以下のとおり．</p>

<ul>
  <li>基本的な3つの構成要素
    <ul>
      <li>スタブリゾルバ：ブラウザなどに名前解決の手段を提供する．ただし，これが直接名前解決をするわけではなく，名前解決を次のフルリゾルバに依頼する（名前解決要求）．普段使っているPC上のOSに大体入っている．この三つの中では利用者に一番近いところにある存在．</li>
      <li>フルリゾルバ：DNSにおける名前解決を行う．二つの役目がある．
        <ol>
          <li>スタブリゾルバから名前解決要求（後述の手順の2番）を受けたら，名前解決をし，その結果をスタブリゾルバに返す．</li>
          <li>名前解決の結果を蓄える（キャッシュする）．</li>
        </ol>
      </li>
      <li>権威サーバ（先述したもの）：自分が委任を受けたゾーンの情報と自分が委任したゾーンの委任情報を持つ．jpドメインやルートドメインを管理している権威サーバのほうがより多くの情報を管理するために，より重要．ルードドメインを管理するルートサーバは世界に13クラスタだけ存在する（参考：ルートサーバ https://jprs.jp/glossary/index.php?ID=0100）．</li>
    </ul>
  </li>
</ul>

<p>いくつか別の名称もある．</p>

<ul>
  <li>フルリゾルバ：キャッシュDNSサーバ，ネームサーバ，DNSサーバ</li>
  <li>権威サーバ：権威DNSサーバ，ゾーンサーバ，ネームサーバ，DNSサーバ</li>
</ul>

<p>www.example.comというドメインを例にした，名前解決の手順とそれを表した図のは以下のようになる．</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>　　　　　　　　　　　　　　    |　　　　　　  |---------&gt;| .ドメイン（ルートドメイン）の
　　　　　　　　　　　　　　    |　　　　　　  |&lt;---------|        権威サーバ
　　　　　　　　　　　　　　    | 　　　　　　 | 
　　　　　　　　　　　　　　    |　　　　　　  |---------&gt;| .comドメイン（ルートドメイン）の                      
ブラウザ等 ⇌ スタブリゾルバ ⇌ | フルリゾルバ |&lt;---------|        権威サーバ                 
　　　　　　　　　　　　　　    | 　　　　　　 |         
　　　　　　　　　　　　　　    |　　　　　　  |---------&gt;| .example.com（ルートドメイン）の                       
　　　　　　　　　　　　　　    |　　　　　　  |&lt;---------|        権威サーバ                      
</code></pre></div></div>

<ol>
  <li>ブラウザ等のプログラムがwww.example.comの名前解決のためにスタブリゾルバを呼び出す．</li>
  <li>スタブリゾルバ自体は名前解決をせず，フルリゾルバに代わりに名前解決をするよう要求する（名前解決要求）．</li>
  <li>フルリゾルバには過去に依頼されて得た応答結果を保持する仕組み（キャッシュ）がある．依頼されたフルリゾルバは，キャッシュを調べ，www.example.comに対応するIPアドレスの情報があるかを確認する．あればそれをスタブリゾルバに返す（この場合はここで名前解決終了）．なければ次の4番へ．</li>
  <li>フルリゾルバはルートゾーンの権威サーバ（特にこれをルートサーバという）のIPアドレスなどの情報をあらかじめ持っている．これをもとに，ルートサーバにwww.example.comのIPアドレスを問い合わせる．</li>
  <li>ルートサーバはcomドメイン以下の情報はcomドメインのゾーンの権威サーバに委任していたため，その委任先の権威サーバのIPアドレスなどの情報を返す．</li>
  <li>フルリゾルバはその情報をキャッシュする．そして，その情報をもとに，comドメインのゾーンの権威サーバにwww.example.comのIPアドレスを問い合わせる．</li>
  <li>comドメインのゾーンの権威サーバはexample.comドメインに関する情報をexample.comドメインのゾーンの権威サーバに委任していたため，その委任先のサーバのIPアドレスなどの情報を返す．</li>
  <li>フルリゾルバはその情報をキャッシュする．そして，その情報をもとに，example.comドメインのゾーンの権威サーバにwww.example.comのIPアドレスを問い合わせる．</li>
  <li>example.comドメインのゾーンの権威サーバはwww.example.comドメインのIPアドレスの情報を保持していた（もしこれを別の権威サーバにさらに委任していたらまた今までのような手続きを繰り返す）．その情報をフルリゾルバに返す．</li>
  <li>フルリゾルバはその情報をキャッシュする．結果が返ってきたため，それをスタブリゾルバに返す．その時間の間は再びwww.example.comの問い合わせが来たときはこのキャッシュした値を返す（上で述べた3番の手続き）．</li>
  <li>スタブリゾルバはそのIPアドレスを呼び出し元のプログラム（ブラウザなど）に返す．</li>
  <li>そのIPアドレスを用いてwww.example.comにアクセスする．</li>
</ol>

<p>このようにして，www.example.comのIPアドレスを得ることができる．</p>

<p>もしexample.comのドメイン名を登録申請し，サイトを立ち上げるためにwww.example.comというドメインを何かしらのウェブサーバに対応させるには以下の手続きをする．</p>

<ol>
  <li>comを含むゾーンの権威サーバにexample.comの権威サーバの情報を登録する．</li>
  <li>www.example.comに関連付ける情報（ウェブサーバのIPアドレスなど）をexample.comを含むゾーンの権威サーバに登録する．</li>
</ol>

<h2>DNSは浸透しない</h2>

<p>TTLの時間が経てばフルリゾルバのキャッシュは消える．そしたら再度権威サーバに問い合わせが行く．そのため，サイトをのっけてたサーバを移行してIPアドレスが変わったとしても，移行後も少なくともそのTTLの時間が経てばここの世にあるフルリゾルバは全て正しい値に更新されている．浸透するという表現に値するような手続きはない．</p>

<h2>レジストリとレジストラおよびリセラ</h2>

<p>ではexample.comといったドメインを登録申請する．その時対峙するのがレジストラ．</p>

<ul>
  <li>ICANNの子会社PTIという組織が運用するIANAがドメイン名の管理全般を統べる．</li>
  <li>ただし，各TLDの管理は別の組織に委任している．その委任された組織をレジストリ (レジストリデータベースと区別してレジストリオペレータとも) という．
    <ul>
      <li>例えばcomやnetドメインはVerisignによって，　jpドメインはJPRSによって管理・運用されている．つまり，VerisignとJPRSはレジストリである．</li>
    </ul>
  </li>
  <li>レジストリはいくつかの役割を持つ．
    <ul>
      <li>各ドメインの登録者の情報を集めたレジストリデータベースの管理．</li>
      <li>登録者からドメイン名の登録申請を受け付け，それを審査し，登録する場合はレジストリデータベースに情報を登録する．</li>
      <li>それらの登録情報をWhois情報として公開する．</li>
      <li>そのドメインが関わる名前解決に必要な権威DNSサーバを管理・運用する．例えばcomのTLDを管理するレジストリはexample.comに関する情報（例えばexample.comのゾーンのネームサーバのIPアドレスなど）を，comの権威DNSサーバに保持しておくことで，上で説明した名前解決の問い合わせが来たときに，答えられるようにしておく．</li>
    </ul>
  </li>
  <li>利用者は直接レジストリからTLDを使いたい旨の申請をするのではなく，レジストラと呼ばれる組織を通してそれを行う．</li>
  <li>
    <p>図で表すと以下の通り．リセラと呼ばれる，レジストラとの間をさらに取り次ぐ組織を通じて登録申請を行う場合もある．</p>

    <div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  レジストラを通じて登録申請する場合：
  登録者 ---&gt; レジストラ ---&gt; レジストリ
  
  さらにリセラを通じて登録申請する場合：
  登録者 ---&gt; リセラ ---&gt; レジストラ ---&gt; レジストリ
</code></pre></div>    </div>

  </li>
  <li>レジストリは一つのTLDに対して一つだが，仲介するレジストラは基本的に沢山ある．レジストラによって値段やサービス，登録可能なTLDが異なる．</li>
</ul>

<h2>参考文献</h2>

<ol>
  <li>Mockapetris, P., &quot;Domain names - concepts and facilities&quot;, RFC 1034, 1987, <a href="https://www.rfc-editor.org/info/rfc1034">https://www.rfc-editor.org/info/rfc1034</a></li>
  <li>Mockapetris, P., &quot;Domain names - implementation and specification&quot;, RFC 1035, 1987, <a href="https://www.rfc-editor.org/info/rfc1035">https://www.rfc-editor.org/info/rfc1035</a></li>
  <li>Hoffman, P., Sullivan, A., and K. Fujiwara, &quot;DNS Terminology&quot;, RFC 8499, 2019, <a href="https://www.rfc-editor.org/info/rfc8499">https://www.rfc-editor.org/info/rfc8499</a></li>
  <li>株式会社日本レジストリサービス（JPRS）渡邉結衣・佐藤新太・藤原和典, 『DNSがよくわかる教科書』, SBクリエイティブ, 2018</li>
  <li>mochikoAsTech, 『DNSをはじめよう ～基礎からトラブルシューティングまで～ 改訂第2版』, 2019</li>
  <li>JPRS用語辞典, <a href="https://jprs.jp/glossary/">https://jprs.jp/glossary/</a></li>
  </ol>  
</ol>
